.containerCheckout {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin: 3rem;
}

.checkout {
        background-color: #a7946cdd;
        padding: 1rem 1.5rem;
        letter-spacing: 0.1rem;
        color: whitesmoke;
        font-size: 0.9rem;
}

.checkout:hover {
        opacity: 70%;
}

.vaciarCarrito {
        background: none;
        border: none;
        color: white;
        font-size: 0.9rem;
        cursor: pointer;
        letter-spacing: 0.1rem;
}

.vaciarCarrito:hover {
        text-decoration: underline #a7946c;
}

.totalCart {
        text-align: center;
        font-size: 1.2rem;
        margin: 2rem;
        color: #a7946c;
        margin-top: 3rem;
}

.containerEmptyCart {
        height: 35vh;
}

.emptyCart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        margin-top: 3rem;
        gap: 3rem;
}

.textBack {
        color: #a7946c;
}

.textBack:hover {
        opacity: 70%;
}