.CardItemDetail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.HeaderCardDetail{
        margin-bottom: 2rem;
        color: #a7946c;
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem 2rem 0rem 2rem;
}

.CardItemDetail picture{
        display: flex;
        justify-content: center;
        align-items: center;
}

.ItemImgDetail{
        width: 70%;
        border-radius: 0.5rem;
}

.CardItemDetail section{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2rem;
        letter-spacing: 0.2rem;
}

.InfoDetail{
        width: 60%;
        text-align: center;
        color: #a7946c;
        font-size: 1.2rem;
}

.InfoCategoryDetail{
        color: #F5F5DC;
        font-size: 1.3rem;
        margin-top: 1rem;
}

.buttonOrder {
        background-color: #121212;
        padding: 0.8rem 1.5rem;
        border: none;
        letter-spacing: 0.1rem;
        color: #F5F5DC;
        font-size: 1.1rem;
}

.buttonOrder:hover {
        background-color: #242424;
}

@media screen and (min-width: 600px) {
        .HeaderCardDetail{
                font-size: 1rem;
        }
}