.iconCart {
        font-size: 1.5rem;
        color: #a7946c;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
}

.iconCart:hover{
        opacity: 70%;
}

.NumberCart{
        font-size: 1.3rem;
        font-weight: 600;
        margin-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
        .iconCart {
                font-size: 2rem;
        }
}