.formCheckout {
        background-color: rgba(245, 245, 245, 0.033);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
}

.labelCheckout {
        display: flex;
        gap: 1rem;
        color: whitesmoke;
        letter-spacing: 0.1rem;
}

.inputCheckout {
        border: none;
        padding: 0.2rem;
        background-color: #a7946c38;
        color: whitesmoke;
        text-align: center;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        width: 18rem;
        border-radius: 0.5rem;
}

.inputCheckout::placeholder {
        opacity: 30%;
}

.btnCheckout {
        border: none;
        padding: 0.8rem 1.5rem;
        background-color: #a7946c;
        color: whitesmoke;
        letter-spacing: 0.1rem;
}