.formCheckout {
        background-color: rgba(245, 245, 245, 0.033);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        margin-bottom: 3rem;
}

.labelCheckout {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: #F5F5DC;
        letter-spacing: 0.1rem;
        font-size: 1.2rem;
}

.inputCheckout {
        border: none;
        padding: 0.2rem;
        background-color: #a7946c38;
        color: #F5F5DC;
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        width: 15rem;
        border-radius: 0.5rem;
}

.inputCheckout::placeholder {
        opacity: 50%;
        font-size: 1rem;
}

.inputCheckout:hover {
        opacity: 80%;
}

.btnCheckout {
        border: none;
        padding: 0.8rem 1.5rem;
        background-color: #a7946c;
        color: #F5F5DC;
        letter-spacing: 0.1rem;
        font-size: 1.1rem;
        margin-top: 1rem;
}

.btnCheckout:hover {
        opacity: 70%;
        cursor: pointer;
}