.CardItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
}

.ItemHeader{
        color: #a7946c;
        text-align: center;
        font-weight: 200;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
        margin-bottom: 1rem;
}

.ItemImg{
        width: 100%;
        border-radius: 0.5rem;
        margin-bottom: 1.2rem;
}

.InfoPrice{
        text-align: center;
        color: whitesmoke;
}

.InfoStock{
        color: #a7946c;
        font-size: 0.8rem;
        margin-top: 0.5rem;
}

.ItemFooter{
        background-color: #a7946c;
        margin-top: 2rem;
        color: #171717;
        padding: 0.8rem 1.5rem;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
}