.titleCheckoutOrder {
        text-align: center;
        color: whitesmoke;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
}

.titleCheckout {
        color: #a7946c;
        text-align: center;
}

.containerOrder {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 3rem;
}

.textBack {
        margin-bottom: 2rem;
}