.titleCheckout {
        text-align: center;
        color: whitesmoke;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        font-weight: 400;
        margin-top: 2rem;
}

.containerOrder {
        height: 35vh;
}