.NavBar {
        padding: 2rem;
        line-height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.logo{
        width: 60%;
}

.logo:hover {
        opacity: 70%;
}

.Categories{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 3rem;
        letter-spacing: 0.1rem;
}

.Categories a:hover{
        border-bottom: 1px solid #a7946cba;
}

.ActiveOption {
        border-bottom: 1px solid #a7946c;
}

.Option {
        border: none;
}