.Footer {
        background-color: #121212;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30rem;
        padding: 2rem;
        width: 100%;
        border-top: 1px solid #a7946c;
}

.adress{
        text-align: center;
        line-height: 2rem;
        color: #a7946c;
        letter-spacing: 0.1rem;
}

.socialMedia {
        font-size: 1.5rem;
        letter-spacing: 1.2rem;
        color: whitesmoke;
}