*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
}

body{
  background-color: #171717;
}

a{
  text-decoration: none;
  color: #F5F5DC;
}